<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        @Html.ActionLink(".", "Index", "Home", null, htmlAttributes: new { @class = "homesLogo" })
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    @Html.ActionLink("Home", "Index", "Home", null,  htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("View homes", "Index", "House", null,  htmlAttributes: new { @class = "nav-link" })
                </li>
               
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>
